<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Credentials</title>
</head>
<body>
<div>
    <div style="text-align: center">
        <h1 style="color: darkcyan">Credentials</h1>
        <div id="BackToHomeDiv" style="text-align: left">
            <form th:action="@{/home}">
                <button id="backToHome" type="submit" class="btn btn-warning pull-right">Back to home page</button>
            </form>
            <br>
        </div>
        <br>
        <form th:action="@{/credentials/newCredentials}" method="get">
            <button type="submit" id="newCredentials" class="btb btn-info">+ Add Credentials</button>
        </form>
        <br>
    </div>

    <div class="table-responsive">
        <br>
        <table class="table table-striped" id="credentialsTable">
            <thead>
            <tr>
                <th style="width: 5%" scope="col"></th>
                <th style="width: 15%" scope="col"></th>
                <th style="width: 30%" scope="col">URL</th>
                <th style="width: 25%" scope="col">Username</th>
                <th style="width: 25%" scope="col">Password</th>
            </tr>
            </thead>
            <tbody>
                <tr class="credentials-row" id="credentials-list" th:each="credential : ${credentials}">
                    <td>
                        <form  th:action="@{'/credentials/updateCredentials/' + ${credential.credentialId}}" method="get">
                            <button class="btn btn-success" id="edit" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/credentials/deleteCredentials/' + ${credential.credentialId}}" method="get">
                            <button class="btn btn-danger" id="delete" type="submit">Delete</button>
                        </form>
                    </td>
                    <td class="credential-url" th:text="${credential.url}" >Example Credential URL</td>
                    <td class="credential-username" th:text="${credential.username}" >Example Credential Username</td>
                    <td ><input type="password" class="credential-password" th:value="${credential.password}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>