<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Notes</title>
</head>
<body>
<div>
    <h1 style="color:coral; text-align: center">Notes</h1>
    <div style="text-align: center">
        <div id="BackToHomeDiv" style="text-align: left">
            <form th:action="@{/home}">
                <button id="backToHome" type="submit" class="btn btn-warning pull-right">Back to home page</button>
            </form>
            <br>
        </div>
        <br>
        <form th:action="@{/notes/newNote}" method="get">
            <button type="submit" id="newNote" class="btb btn-info">+ Add Note</button>
        </form>
        <br>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" id="noteTable">
            <thead>
            <tr>
                <th style="width: 5%" scope="col"></th>
                <th style="width: 15%" scope="col"></th>
                <th style="width: 20%" scope="col">Title</th>
                <th style="width: 60%" scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
                <tr class="note-row" id="note-list" th:each="note : ${notes}">
                    <td>
                        <form th:action="@{'/notes/updateNote/' + ${note.noteId}}" method="get">
                            <button class="btn btn-success" id="editNote" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{'/notes/deleteNote/' + ${note.noteId}}" method="get">
                            <button class="btn btn-danger" id="deleteNote" type="submit">Delete</button>
                        </form>
                    </td>
                    <td scope="row" class="note-title" th:text="${note.noteTitle}">
                        Example Note Title
                    </td>
                    <td class="note-description" th:text="${note.noteDescription}">
                        Example Note Description
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>